/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Nov, 2016, 2:43:41 PM
    Author     : neha
*/

* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 18px;
    font-family:  arial, sans-serif;
    color: #383838;
    background: #3b3b3b url(../images/body.png);
    background-repeat: repeat;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

h2 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 65px; line-height: 70px; color: #fff; }
h3 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 22px; line-height: 24px; color: #0182b5; }
h4 { font-family: 'Georgia', Arial, serif; font-style: italic; font-size: 16px; line-height: 17px; color: #0871b3; font-weight: normal; }


.shell { width: 884px; margin: 0 auto; background: url(../images/shell.png) repeat-y 0 0; padding: 0 57px 0 57px; position: relative; }

#header { padding-top: 30px; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

#navigation { float: right; display: inline; font-family: 'Georgia', Arial, serif; font-size: 16px; line-height: 20px; padding: 60px 4px 23px 0; }
#navigation ul li { list-style: none; padding-left: 33px; float: left; display: inline; }
#navigation ul li a { color: #383838; }
#navigation ul li a.active { color: #0252aa;font-style: italic; font-weight: bold; text-decoration:underline ; cursor: default; }

#site_logo {
    background-image: url(../images/shoppingcartblue.jpg);
    background-position: center;
    background-size: cover;
    width: 100px;   height: 80px; display: block;   float: left;    object-fit: cover;
    margin-top: 1%; margin-bottom: 5%;
    
}
#site_logo h1{
    color: #0182b5; margin-left: 35%; 
}

#login-details { position: absolute; right: 60px; top: 16px; font-size: 12px; line-height: 16px; color: #707070; }
#login-details #user { color: #0182b5;  font-weight:bold; }

#login-details .sum { color: #0182b5; }
#login-details .sum:hover { text-decoration: none; color: #000; }
#login-details p { float: left; display: inline; }
#login-details .cart { float: left; display: inline; margin: 0 6px 0 12px;  }
#login-details .cart img { display: block; width: 25px; height: 25px; }
