/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2016, 10:46:11 PM
    Author     : neha
*/

#sidebar { float: left; display: inline; width: 214px; padding: 6px 0; }
#sidebar h4 { border-bottom: solid 4px #eaeaea; padding: 0 0 8px 1px; }

#sidebar .categories { list-style: none; }
#sidebar .categories ul { padding: 8px 0 29px; list-style: none; line-height: 24px; font-size: 12px; color: #929292; }
#sidebar .categories ul li { border-bottom: solid 1px #d8d8d8; background: url(../images/list-image.png) no-repeat 0 center; padding-left: 18px; }
#sidebar .categories ul li a { color: #929292; }


#content { float: left; display: inline; width: 635px;font-size: 14px;  }
#content h3 { padding: 0 0 7px 3px; border-bottom: solid 4px #eaeaea; margin-bottom: 12px; }


.products ul { list-style: none; position: relative; width: 660px; margin-left: -7px; width: 660px; }
.products ul li { float: left; display: inline; width: 150px; height: 343px; margin: 0 15px 14px 0; }
.products ul li a.info { display: block; padding: 7px; width: 136px; height: 329px; }
.products ul li a.info:hover { background: url(../images/product-hover.png) no-repeat 0 0; text-decoration: none; }
.products ul li a.info .holder { padding: 14px 9px; border: solid 1px #dcdcdc; display: block; }
.products .product { width: 134px; position: relative; }
.products img { padding: 0 7px 4px; width: 102px; height: 160px; }
.product .buy-btn { position: absolute; bottom: 8px; left: 7px; background: url(../images/buy-btn.png) repeat-x 0 0; width: 126px; height: 31px; color: #fff; font-size: 12px; line-height: 31px; text-transform: uppercase; font-weight: bold; z-index: 10; padding-left: 10px; white-space: nowrap;}
.product .buy-btn:hover { text-decoration: none; }
.product .buy-btn .price { padding: 0 7px; background: url(../images/price.png) repeat-x 0 0; font-size: 22px; line-height: 29px; position: absolute; top: 0; right: 0; height: 31px; }
.product .buy-btn .price .low { font-size: 14px; vertical-align: baseline; }
.product .buy-btn .price .high { font-size: 11px; line-height: 14px; vertical-align: super; }

.product .book-name { font-size: 12px; line-height: 20px; color: #0182b5; font-family: 'Georgia', Arial, serif; display: block; }
.product .author { font-size: 11px; line-height: 14px; color: #3d3d3d; font-family: 'Georgia', Arial, serif; padding: 0 0 9px 1px; display: block; }
.product .description { font-size: 11px; line-height: 16px; color: #878787; }

#best-sellers { padding-top: 18px; width: 100%; position: relative; }
#best-sellers h3 { color: #404040; margin-bottom: 0; }
#best-sellers .jcarousel-container { width: 560px; height: 210px; padding: 0 26px 0 53px; margin-top: 31px; }
#best-sellers .jcarousel-clip { width: 560px; height: 210px; overflow: hidden; }
#best-sellers .jcarousel-item { width: 125px; height: 210px; text-align: center; float: left; display: inline; margin-right: 15px; }
#best-sellers .jcarousel-prev,
#best-sellers .jcarousel-next { width: 20px; height: 33px; background: url(../images/best-sellers-directions.png) no-repeat; position: absolute; top: 57px; cursor: pointer; }
#best-sellers .jcarousel-prev { background-position: 0 0; left: 2px; }
#best-sellers .jcarousel-prev:hover { background-position: 0 bottom; }
#best-sellers .jcarousel-next { background-position: right 0; right: 2px; }
#best-sellers .jcarousel-next:hover { background-position: right bottom; }
#best-sellers a { position: relative; display: block; height: 100%; width: 102px; }
#best-sellers a:hover { text-decoration: none; opacity: 0.7;}
#best-sellers a img { width: 102px; height: 156px; display: block; padding-bottom: 10px; }
#best-sellers .price { position: absolute; top: 107px; right: -26px; width: 62px; height: 62px; background: url(../images/best-price.png); font-size: 22px; font-weight: bold; line-height: 62px; text-align: center; color: #fff; display: block; }
#best-sellers .price .low { font-size: 14px; vertical-align: baseline; }
#best-sellers .price .high { font-size: 11px; line-height: 14px; vertical-align: super;}
#best-sellers .product .author { color: #3d3d3d; }
